@import url('https://fonts.googleapis.com/css?family=Lato|Lobster|Open+Sans');


.text-box{
  padding-top: 2rem;
}
.result {
  margin-bottom: 0;
  margin-top: 3rem;
  font-family: 'Lato', sans-serif;
}
.fonts,.fonts1,.fonts2,.fonts3 {
  font-size: 28px;
 text-align: center;
  padding: 2rem;
}
.fonts {
  font-family: 'Open Sans', sans-serif;
}
.fonts1 {
font-family: 'Bebas Neue';
  src: url('BebasNeueBold.eot');
  src: url('BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('BebasNeueBold.woff') format('woff'),
    url('BebasNeueBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.fonts2 {
  font-family: 'Lato', sans-serif;
}
.fonts3 {
  font-family: 'Lobster', cursive;
}