 // * {box-sizing: border-box:}
.box {
	
	

	background-color: red;
	color: #fff;
 	
	position: absolute;
	display: inline-block;
	left: 15rem;

	height: 35rem;
	width: 28rem;
	text-align: center;
	z-index:2;
}


p,h1 {

	padding-top: 10px;
	margin-top: 30px;
	transform: translateY(60%) ;
}