@keyframes move {
	from {
		margin-left:0;
	}
	to {
		margin-left: 400px;
	}
}


.btn {
	color: white;
	background: #c41f03;
	margin-left: 89%;
	width: 130px;
	height: 40px;
	margin-top: 20px;
	animation-name: move;
	animation-duration: 2s;


} 
.p2 {
margin-left: 60px;
margin-top: 10%;
animation-iteration-count: infinite;
}
.p1 {
	margin-top: 15px;
	margin-left: 45px;
	color: #c51f03;
}
.tab-content {
	padding: 40px;
	width: 630px;
	height: 400px;
	height: 300px;
	background: black;
	animation: move 2s alternate-reverse, bg-color 2s;
	}
.inpt {
	margin-top: 10px;
	margin-left: 30px;
	width: 480px;
	border: black;
	background: #1a1919;
	color: white;
	padding: 10px;
	animation: move 2s alternate-reverse;
}
